body {
    background-color: #e7dfd9;
}
.title {
    text-align: center;
}
img {
    border-radius: 10px;
    margin-inline: 2%;
}
#heading {
    font-weight: bold;
}
.bio {
    display: inline; 
    font-weight: bold
}